html, body {
   margin:0;
   padding:0;
   height:100%;
   width:100%;
}

button{
   cursor: pointer;
   font-family:futura;
}

#algorithmsHeader{
   font-family: "Gill Sans";
   font-size:150%;
   text-decoration: underline;
}
#pseudocodeHeader{
   text-align:center;
   font-family: "Gill Sans";
   font-size:150%;
   text-decoration: underline;
}

#titleDIV {
   font-family: "Gill Sans";
   font-size:250%;
   display:block;
   text-align:center;
   horizontal-align:middle;
}

#mainDIV{
   height:70%;
}

#mainTable{
   height:80%;
}

#switchToAutomata{
   visibility:hidden;
}

#switchToGraph{
   visibility:hidden;
}
/*********************************** Tools ************************************/

#topBarTable{
   display:none;
   height:9%;
   width:100%;
}

.topBarRow{
   width:100%;
   height:9%;
   background-color: #ffcccc
}


#toolBox {
   text-align:center;
   display:none;
}

.tool{
   height:40px;
}

/******************************** Canvas Stuff *********************************/

#canvasRow{
   border-width: 2px;
   height:85%;
   width:100%
}

#canvasAndSideBarRow{
   width:100%;
   height:80%;
   background-color: #ffffff;
}

/***************************** sideBar algorithms******************************/


#mainColumn{
   height:80%;
}

#mainBox{
   height:90%;
}
