html, body {
   margin:0;
   padding:0;
   height:100%;
   width:100%;
}

table{
   border-collapse:collapse;
}

#mainTable{
   width:100%;
   height:100%;
}

#topBarRow{
   width:100%;
   height:10%;
   background-color: #ffcccc
}

#canvasAndSideBarRow{
   width:100%;
   height:90%;
   background-color: #ffffff;
}


#toolBox {
   text-align:center;
}

.tool{
   height:40px;
}

#toolBoxTable{
   width:100%;
   height:100%;
}

#sideBar{
   width:20%;
   background-color: #cceeff;
}

#canvasRow{
   border-style: solid;
   border-width: 2px;
   height:85%;
   width:100%
}

#DfaNfaInputRow{
   height:15%;
   width:100%
}

#DfaNfaInputTD, #graphTD, #DfaNfaTD{
   border-style: solid;
   border-width: 2px;
}

#graphTD{
   width: 60%;
   height:100%;
   position: relative;
}

#DfaNfaTD{
   width: 40%;
   height:100%;
}


#canvasTable{
   width:100%;
   height:100%;
}

#graphSVG{
   width:100%;
   height:100%;
   border:"1px solid black";
}

#DfaSVG, #NfaSVG{
   width:100%;
   height:50%;
   border:"1px solid black";
}

#sideBarTable{
   width:100%;
   height:100%;
}

h1{
   font-family: Futura;
   font-size:150%;
   font-weight:200;
   text-decoration: underline;
}

#algorithmsRow{
   height:60%;
}

#tipsRow{
   height:40%;
}

.algorithm{
   font-family: Futura;
   font-size:75%;
}
.algorithm:hover{
   text-decoration: underline;
}

#gavTitle{
   font-family: "Gill Sans";
   font-size:350%;
   text-align:center;
}

#algorithmsColumn{
   border-style: solid;
   border-width: 2px;
}

#tipsColumn{
   border-style: solid;
   border-width: 2px;
}

.active {
  stroke: #000000;
  stroke-width: 2px;
}

.dormant {
   stroke: #dbb000;
   stroke-width: 2px;
}

.link{
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.nodeCircle{
   font: 10px sans-serif;
}

.nodeYellow{
   fill: #dbdb8d;
}

.nodeRed{
   fill: #d62728;
}

.nodeGreen{
   fill: #98df8a;
}

.nodeText{
   font-family: Futura;
   fill: #000000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggledText{
    font-family: futura;
    position: absolute;
    content: "directed";
    height: 0px;
    width: 0px;
    left: 4px;
    bottom: 4px;
    color: #ccc;
}

.d3-tip {
   font-family: futura;
   line-height: 1;
   padding: 6px;
   background: rgba(0, 0, 0, 0.8);
   color: #fff;
   border-radius: 4px;
   font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
   box-sizing: border-box;
   display: inline;
   font-size: 12px;
   width: 100%;
   line-height: 1;
   color: rgba(0, 0, 0, 0.8);
   content: "\25BC";
   position: absolute;
   text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
   margin: -2px 0 0 0;
   top: 100%;
   left: 0;
}

/*************************** PROMPTING RELATED STUFF ***************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    text-align: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    font-family:futura;
    background-color: #c0fefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
