.loginDiv{
   font-family: futura;
   font-size: 20;
   text-align: center;
   background-color:#55ACF0;
}

#switchToRegister:hover, #switchToGuest:hover{
   cursor: pointer;
   text-decoration: underline;
   color:#000efe;
}

.login_input{
   width:40%;
}
