<table id="sideBarTable">
   <tr id="algorithmsRow" valign="top">
      <td id="algorithmsColumn">
         <h1>Algorithms</h1>
      </td>
   </tr>
   <tr id="tipsRow" valign="top">
      <td id="tipsColumn">
         <h1>Tips</h1>

      </td>
   </tr>
</table>
</td>
<td>
   <table id="canvasTable">
      <tr id="canvasRow">
         <td id="graphTD">

         </td>
      </tr>
   </table>
   <tr id="canvasRow">
      <td id="graphTD">

      </td>
   </tr>
   <tr id="canvasRow">
      <td id="graphTD">

      </td>
   </tr>
</table>
