<div class="loginDiv">
   <p for="username">username:</p>
   <input type="text" class="login_input" id="username"/>
   <p for="password">password:</p>
   <input type="password" class="login_input" id="password"/>
   </br>
   </br>
   </br>
   <button type="button" id="login">log in</button>
   </br>
   </br>
   </br>
   <p id="switchToRegister" type="button"> click here to register</p>
</div>
