<table id="loginTable">
   <tr id="topBarRow">
      <td id="gavTitle">
         GRAPHIC ALGORITHM VISUALIZER
      </td>
   </tr>
   <tr id="loginRow">
      <td>
         <table>
            <tr>
               <td>
               </td>
            </tr>
            <tr>
               <td>
                  <p for="username">email:</p>
                  <input type="text" class="login_input" id="username"/>
                  <p for="password">password:</p>
                  <input type="text" class="login_input" id="password"/>
               </td>
            </tr>
            <tr>
               <td>
                  <button type="button" id="login">log in</button>
               </td>
            </tr>
            <tr>
               <td>
                  <p id="switchToRegister" type="button"> click here to register</p>
               </td>
            </tr>
            <tr><td/></tr>
            <tr><td/></tr>
         </table>
      </td>
   </tr>
</table>
