<table id="registerTable">
   <tr id="topBarRow">
      <td id="gavTitle">
         GRAPHIC ALGORITHM VISUALIZER
      </td>
   </tr>
   <tr id="loginRow">
      <td>
         <table>
            <tr>
               <td>
                  <p class="register_label" for="firstName">first name:</p>
                  <input class="register_input" type="text" id="firstName"/>
               </td>
            </tr>
            <tr>
               <td>
                  <p class="register_label" for="lastName">last name:</p>
                  <input class="register_input" type="text" id="lastName"/>
               </td>
            </tr>
            <tr>
               <td>
                  <p class="register_label" for="email">email:</p>
                  <input class="register_input" type="text" id="email"/>
               </td>
            </tr>
            <tr>
               <td>
                  <p class="register_label" for="password">password:</p>
                  <input class="register_input" type="text" id="password"/>
               </td>
            </tr>
            <tr>
               <td>
                  <p class="register_label" for="confirmPassword">confirm password:</p>
                  <input class="register_input" type="text" id="confirmPassword"/>
               </td>
            </tr>
            <tr>
               <td>
                  <button type="button" id="register">register</button>
               </td>
            </tr>
            <tr>
               <td>
                  <p id="switchToLogin">click here for the log in page</p>
               </td>
            </tr>
      </td>
   </tr>
</table>
