<div class="container one-third row">
   <br/>
   <img style="width:200px;border-radius: 50%;"src="https://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg"/>
   <div id="userProfile">
      <p>Hello, {{firstName}}!</p>
   </div>
</div>
<div class="container one-third row">
   <div class="one-fourth row" id="profileBar">
      <button style="width:100%;" id="profileButton">user profile</button>
   </div>
   <div class="one-fourth row" id="graphBar">
      <button style="width:100%;" id="graphButton">Graph Visualizer</button>
   </div>
   <div class="one-fourth row" id="savedGraphsBar">
      <button style="width:100%;" id="savedGraphsButton">Saved Graphs</button>
   </div>
   <div class="one-fourth row" id="automataBar">
      <button style="width:100%;" id="automataButton">Automata</button>
   </div>
</div>
<div class="container one-third row">
   <div class="row" id="tipsBar">
   </div>
</div>
