<div class="container one-third row">
   <div id="userProfile">
      <p>Hello, {{name}}!</p>
   </div>
</div>
<div class="container one-third row">
   <div class="one-third row" id="profileBar">
      <button style="width:100%;">user profile</button>
   </div>
   <div class="one-third row" id="graphBar">
      <button style="width:100%;">Graph</button>
   </div>
   <div class="one-third row" id="automataBar">
      <button style="width:100%;">Automata</button>
   </div>
</div>
<div class="container one-third row">
   <div class="row" id="tipsBar">
   </div>
</div>
