<div class="row">
   <h1 class="heading">What is a DFA?</h1>
</div>
<div class="row">
   <h1 class="heading">How do you construct a DFA?</h1>
</div>
<div class="row">
   <h1 class="heading">What is an NFA?</h1>
</div>
<div class="row">
   <h1 class="heading">How do you construct an NFA?</h1>
</div>
