<div id="graphDiv">
   <svg id="DfaSVG"/>
   <svg id="NfaSVG"/>
   <p class="register_label" for="regexInput">enter a regular expression</p>
   <input type="text" class="register_input" id="regexInput"/>
   <button type="button" id="inputRegex">submit regex</button>
</div>
