<div id="automataDIV">
   <p id="DFALabel">DFA construction</p>
   <svg id="DfaSVG"/>
   <p id="NFALabel">NFA construction</p>
   <svg id="NfaSVG"/>
</div>
<br/>
<input type="text" class="register_input" id="regexInput" placeholder="enter a regular expression"/>
<button type="button" id="inputRegex">submit regex</button>
